<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright"><a href="https://github.com/onevcat/vno">Vno</a> theme by <a href="http://im.onevcat.com">@onevcat</a></span>
</footer>