<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/onevcat" title="@onevcat 的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/onevcat" title="@onevcat 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/onevcat" title="@onevcat" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:onev@onevcat.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>